<xc-title-bar xc-i18n-context="xfm" [xc-title-bar-application-versions]="applicationVersions">
    <xc-nav-list content [xc-nav-list-items]="navListItems" [xc-nav-list-orientation]="navListOrientation"
        xc-nav-list-size="large" />
    <div aside>
        <xc-status-bar></xc-status-bar>
        <xc-button (click)="changeRuntimeContext()">{{currentRuntimeContext?.uniqueKey ||
            ('button-choose-runtime-context' | xcI18n)}}</xc-button>
        <xc-icon-button [xc-menu-trigger]="userMenu" xc-icon-name="user" color="normal"></xc-icon-button>
        <xc-menu #userMenu [xc-menu-items]="usermenuItems" xc-menu-y-nextto-trigger xc-menu-x-offset="6" xc-menu-y-offset="12"
            xc-menu-with-arrow>
        </xc-menu>
        <xc-icon-button xc-i18n xc-icon-name="sp-helper" xc-icon-style="modeller" xc-tooltip="icon-help"
            xc-tooltip-position="bottom" (click)="openWiki()"></xc-icon-button>
    </div>
</xc-title-bar>
<router-outlet />