name: Update submodules

on:
  workflow_dispatch:
    inputs:
      branch_update:
        default: 'update-dependencies'
        required: false
        type: string

permissions: 
  contents: write
  pull-requests: write

jobs:
  update-submodules:
    runs-on: ubuntu-latest
    steps:
    
     - name: Check out xyna-modeller
       uses: actions/checkout@v4
       
     - name: Create new branch
       env:
          BRANCH_UPATE: ${{ inputs.branch_update }}
       run: |
         git branch "$BRANCH_UPATE"
         git switch "$BRANCH_UPATE"

     - name: Init submodule
       run: |
         git submodule update --init impl/projects/xyna/src/app/zeta
         git submodule update --init impl/projects/xyna/src/app/xfm/acm
         git submodule update --init impl/projects/xyna/src/app/xfm/factorymanager
         git submodule update --init impl/projects/xyna/src/app/xfm/processmodeller
         git submodule update --init impl/projects/xyna/src/app/xfm/processmonitor
         git submodule update --init impl/projects/xyna/src/app/xfm/testfactory
         git submodule update --init impl/projects/xyna/src/app/xfm/yggdrasil

     - name: Update dependencies
       run: git submodule foreach git checkout remotes/origin/main
       
     - name: Add changes
       run: |
         git add impl/projects/xyna/src/app/zeta
         git add impl/projects/xyna/src/app/xfm/acm
         git add impl/projects/xyna/src/app/xfm/factorymanager
         git add impl/projects/xyna/src/app/xfm/processmodeller
         git add impl/projects/xyna/src/app/xfm/processmonitor
         git add impl/projects/xyna/src/app/xfm/testfactory
         git add impl/projects/xyna/src/app/xfm/yggdrasil

     - name: Commit
       env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          SECTRETS_PAD: ${{ secrets.PAT }}
          BRANCH_UPATE: ${{ inputs.branch_update }}
       run: |
         git config --global user.name "$GITHUB_ACTOR"
         git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
         git remote set-url origin "https://x-access-token:$SECTRETS_PAD@github.com/$GITHUB_REPOSITORY"
         git commit -m "Update dependencies"
         git push --set-upstream origin "$BRANCH_UPATE"
     
     - name: Create Pull Request
       env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_UPATE: ${{ inputs.branch_update }}
       run: gh pr create --title "Update Submodule Dependencies" --body "Updated submodules" --base main --head "$BRANCH_UPATE"